ENVIRONMENT=development
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
SECRET_KEY=your_super_secret_key
DATABASE_URL=postgresql+psycopg2://username:password@host:5432/database
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000